---
interface Props {
	href: string;
	label?: string;
}

const { href, label = 'Back home' } = Astro.props;
---

<a class="case-back about-back back-home-link" href={href}>
	<span aria-hidden="true"></span>
	{label}
</a>
